* a:link{
	color: black;
	text-decoration: none;
}
* a:visit{
	color: black;
}
.logo{
	width: 1300px;
	height: 80px;
	border:1px solid;
}
.tubiao{
	width: 80px;
	height: 50px;

	background-image: url(../images/logo.jpg);
	background-size: 60px 50px;
	background-repeat: no-repeat;
	margin-left: 60px;
	margin-top: 10px;
	float: left;
}
.kong{
	width: 150px;
	height: 80px;
	float: left;
}
.daohang ul{
	list-style: none;
}
.daohang ul li{
	font-size: 25px;
	float: left;
	line-height: 50px;
	margin-right: 20px;
	color:black;


}
.daohang ul li a{
	color: black;
	text-decoration:none; 
}
.daohang ul li a:hover{
	color: #888888;
}
.daohang ul li a:visit{
	color: white;
}
input{
	width: 180px;
	height: 30px;
	float: right;
	margin-right: 130px;
}
.sousuo img{
	width: 37px;
	height: 37px;
	margin-top: 4px;
	margin-left: 155px;

	
}

.denglu{
	float: right;
	font-size: 20px;
    margin-top: -37px;
    margin-right: 35px;
    color:black;
    text-decoration:none; 


}
.denglu:hover{
	color:#5555ff;
	text-decoration:underline; 
}
.banner2{
	width: 1300px;
	height: 350px;
	background-image: url(../images/lanqiu.jpg);
	background-size: 1300px 350px;
	opacity: 1;
	padding-top: 5px;

}
.banner2 a:link{
	color:black;
	text-decoration: none;
}
.banner3 ul li{

	font-size: 25px;
	font-weight: 700px;
	line-height: 40px;
	
	margin-left: 80px;
}
span{
	float: right;
	margin-right: 200px;
	font-size: 20px;
}
.banner3 ul li p{
	font-size: 20px;
	margin-top: -1px;
}
.xia{
	width: 1300px;
	height: 150px;
	margin-top: 80px;
	text-align: center;
	background-image: url(../images/bg.jpg);
	padding-top: 20px;
}
.xia ul{
	list-style: none;
	margin-left: 350px;
}
.xia ul li{
	float: left;
	font-size: 18px;
	font-weight: 700;

}